{% extends "template/base.html" %}
{% load static %}

{% block title %} Home page {% endblock %}
{% block content %}
<div class="col-12 mt-4">
    <form class="row" action="javascript:void(0);">
        <div class="col-md-4 col-6 mt-1">
            <select class="form-select" id="select_1" aria-label="Selecione 1 valor">
                <option value="0">Selecione 1º valor</option>
            </select>
        </div>
        <div class="col-md-4 col-6 mt-1">
            <select class="form-select"  id="select_2" aria-label="Selecione 1 valor" disabled>
                <option value="0">Selecione 2º valor</option>
            </select>
        </div>
        <div class="col-md-4 col-6 mt-1">
            <select class="form-select"  id="select_3" aria-label="Selecione 1 valor" disabled>
                <option value="0">Selecione 3º valor</option>
            </select>
        </div>
        <div class="col-md-4 col-6 mt-1">
            <select class="form-select"  id="select_4" aria-label="Selecione 1 valor" disabled>
                <option value="0">Selecione 4º valor</option>
            </select>
        </div>
        <div class="col-md-4 col-6 mt-1">
            <select class="form-select"  id="select_5" aria-label="Selecione 1 valor" disabled>
                <option value="0">Selecione 5º valor</option>
            </select>
        </div>
        <div class="col-md-4 col-6 mt-1">
            <select class="form-select"  id="select_6" aria-label="Selecione 1 valor" disabled>
                <option value="0">Selecione 6º valor</option>
            </select>
        </div>
        <div class="col-12 mt-2 mb-2 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" id="receba">Consultar a sorte</button>
        </div>
    </form>
</div>
<div class="col-12 mt-4 d-none" id="conteudo">
    <div class="row">
        <div class="col-12">
            <h3>Consultando <span id="title"></span></h3>
        </div>
        <div class="col-12 my-3">
            <table class="table table-light table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Conjunto</th>
                        <th scope="col">Frequência</th>
                        <th scope="col">Média de frequência</th>
                        <th scope="col">Mais detalhes</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="tableBody">
        
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script src="{% static 'app/js/app.js' %}"></script>
{% endblock %}